{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    {% if books_list %}
        <div class="row" style="padding-bottom: 20px">
            <h2>Available Books</h2>
        </div>
        {% for book in books_list %}
        <div class="row inline-flex justify-content-around">
            <div class="col-sm border">
                <h4>{{book.title}}</h4>
                <h6>{{book.author}}</h6>
                <a href="{% url 'book_detail' book.id %}" type="button">Rent</a>
            </div>
        </div> 
        {% endfor %}
    {% else %}
    <div class="col-xl">
        <h2>There are currently no books available.</h2>
    </div>
    {% endif %}
{% endblock content %}
