{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

<form action="{% url 'rent' object.id %}" method="post">
    {% csrf_token %}
    <div class="row">
        <h2>{{object.title}}</h2>
    </div>
    <div class="row">
        <h4>{{object.author}}</h4>
    </div>
    <div class="row">
        <p>Book type: {{object.book_type}}</p>
    </div>
    <div class="row">
        <p>Rental charge per day: ${{object.book_type.rental_rate}}
    </div>
    {% if not object.available %}
        <div class="row">
            <p>Status: In use</p>
        </div>
        {% if user == object.renting_user %}
            <div class="row">
                <p><b>Due on {{object.rental_due_date}}</b> ({{ object.days_remaining }} days remaining)</p>
            </div>
            <div class="row">
                <p>Total rental charge: ${{ object.rental_charge }}</p>
            </div>
        {% else %}
            <div class="row">
                <p>Available for rent on {{object.rental_due_date}} ({{ object.days_remaining }} days remaining)</p>
            </div>
        {% endif %}
    {% else %}
        <div class="row">
            <p>Status: <b>Available</b></p>
        </div>
        {% if user.is_authenticated %}
            <div class="mb-3">
                <label for="daysInput" class="form-label">Days to borrow:</label>
                <input type="number" class="form-control" id="days_rented" name="days_rented" max="30" min="0">
            </div>
            <input type="submit" value="Rent">
        {% else %}
            <a href="{% url 'login' %}?next={{request.path}}">Login</a> to rent this book!
        {% endif %}
    {% endif %}
    
{% endblock content %}