{% extends "books/base.html" %}

{% block title %}My Books{% endblock title%}

{% block content %}
  <div class="row">
    {% if my_books_list %}
      {% for book in my_books_list %}
        <div class="col-sm">
            <h4>{{book.title}}</h4>
            <h6>{{book.author}}</h6>
            <h6>Due in {{book.days_remaining}} days </h6>
            <a href="{% url 'book_detail' book.id %}" type="button">View Details</a>
        </div>
      {% endfor %}
    {% else %}
      <div class="col-xl">
          <p>You currently have no rented books.</p>
      </div>
    {% endif %}
  </div>
{% endblock content %}
